<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/defaultLayout">
<th:block layout:fragment="css"><style></style></th:block>
<div layout:fragment="content">
    <template>
        <div>
            <h1>프로젝트 신규 등록</h1>
            <!--신규 프로젝트 등록을 위해 입력받은 정보를 createPrj에 담음, DB의 필드 제한 길이를 넘게되어 발생하는 오류 방지를 위해 maxlength로 글자수 입력에 제한을 둠-->
            <el-form ref="form" :model="pageData.createPrj">
                <el-form-item label="프로젝트명">
                    <el-input v-model="pageData.createPrj.pname" maxlength="15"></el-input>  <!--onkeyup="checkSpacebar(this)"-->
                </el-form-item>
                <el-form-item label="프로젝트내용">
                    <el-input type="textarea" v-model="pageData.createPrj.pcontent" maxlength="200"></el-input>
                </el-form-item>
                </el-form-item>
            </el-form>
        </div>
        <div>
            <el-button @click="create">저장</el-button> <!--입력받은 정보와 함께 저장 메소드로 이동-->
            <el-button @click="moveTable">프로젝트목록</el-button> <!--프로젝트 목록 페이지로 이동시키는 메소드로 이동-->
        </div>
    </template>
</div>
<th:block layout:fragment="scriptBeforeCreateVue">
    <script>
        /*function checkSpacebar(obj) {
            if(obj.value == " ") {
                alert("첫 시작을 공백으로 할 수 없습니다. 공백을 제거합니다.");
                obj.focus();
                obj.value = obj.value.replace(' ','');
                return false;
            }
        }*/

        let localData = {
            createPrj: { // 프로젝트 신규 생성을 위한 정보를 담을 item
                pname: '',
                pcontent: '',
                pview: true
            }
        }

        let localMethod = {
            moveTable: function () { // 프로젝트 목록 페이지로 이동
                location.href = "/view/Project/PrjTable";
            },
            create: function() { // 신규 프로젝트 생성
                axiosPost("/api/project/prjController", vueApp.pageData.createPrj,
                    function () {
                        alert("프로젝트 등록 성공");
                        location.href = "/view/Project/PrjCreate"; // 서비스 실행 완료 후 프로젝트 등록 페이지로 이동(화면 새로고침, input 값 초기화)
                    },
                    function (error) {
                        // 필수 항목인 프로젝트 명 미입력시 발생하는 오류
                        if(error.response.data.errorMessages[0] == "error.pname.null") {
                            console.log(error.response);
                            alert("에러 : 프로젝트 명은 필수 입력 항목입니다.")
                        } else {
                            console.log(error.response);
                            alert("에러메시지 : " + error.response.data.errorMessages[0])
                        }
                    }
                );
            }
        }
    </script>
</th:block>

<th:block layout:fragment="scriptAfterCreateVue"></th:block>
</html>
