<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/defaultLayout">
<th:block layout:fragment="css"><style></style></th:block>
<div layout:fragment="content">
    <!-- -------------------- 프로젝트 테이블 -------------------- -->
    <div class="table-contents-wrap">
        <el-table :data="pageData.listData" style="width:100%">
            <el-table-column label="프로젝트명" class-name="data-table-cell "
                             label-class-name="data-table-header " :min-width="310">
                <template slot-scope="scope">
                    <el-link @click="prjShow(scope.row.pid)" data-toggle="modal" data-target="#prjShow">{{ scope.row.pname }}</el-link>
                </template>
            </el-table-column>
            <el-table-column label="정보수정" class-name="data-table-cell "
                             label-class-name="data-table-header " :min-width="190">
                <template slot-scope="scope">
                    <el-link @click="updatePrjStep(scope.row.pid)" data-toggle="modal" data-target="#updatePrj">[수정]</el-link>
                    <el-link @click="prjUnrealDelete(scope.row.pid)" data-toggle="modal">[가삭제]</el-link>
                    <el-link @click="prjRealDelete(scope.row.pid)" data-toggle="modal">[실삭제]</el-link>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination small layout="prev, pager, next" :total="pageData.pData.listCount"
                       :page-size="pageData.pData.countPerPage" :current-page.sync="pageData.pData.pageNo"
                       @current-change="list">
        </el-pagination>
    </div>
    <div>
        <el-form ref="form" :model="pageData.listConditionSearchData">
            <el-form-item label="리스트 조건 검색">
                <el-row type="flex">
                    <el-select v-model="pageData.listConditionSearchData.condition" placeholder="조건을 선택하세요">
                        <el-option v-for="item in pageData.listCondition" :key="item.conditionValue" :label="item.conditionText" :value="item.conditionValue"></el-option>
                    </el-select>
                    <el-input v-model="pageData.listConditionSearchData.item" style="width: 500px;" maxlength="20"></el-input>
                    <el-button @click="list">검색</el-button>
                    <el-button @click="moveCreate">프로젝트등록</el-button>
                </el-row>
            </el-form-item>
        </el-form>
    </div>
    <!-- -------------------- 프로젝트 상세 테이블 -------------------- -->
    <div class="modal fade" id="prjShow" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal_div" role="document">
            <div class="modal-content">
                <div class="modal-common">
                    <div class="modal-header">
                        <h3>프로젝트 상세</h3>
                    </div>
                    <div class="modal-body" id="">
                        <div class="table-contents-wrap">
                            <table>
                                <colgroup>
                                    <tr>
                                        <th style="font-size: smaller">프로젝트 명</th>
                                        <tr>
                                            <th style="font-size: large">{{ pageData.prjShowData.pname }}</th>
                                        </tr>
                                    </tr>
                                    <tr>
                                        <th style="font-size: smaller; margin-top: 7px;">프로젝트 설명</th>
                                    <tr>
                                        <th style="font-size: large">{{ pageData.prjShowData.pcontent }}</th>
                                    </tr>
                                    </tr>
                                </colgroup>
                            </table>
                            <el-table :data="pageData.prjParticipationComp" style="width:100%">
                                <el-table-column label="프로젝트 참여 회사" class-name="data-table-cell "
                                                 label-class-name="data-table-header " :min-width="400">
                                    <template slot-scope="scope">
                                        <el-link @click="compEmpShow(scope.row.cid)" data-toggle="modal" data-target="#compEmpShow">{{ scope.row.cname }}</el-link>
                                    </template>
                                </el-table-column>
                                <el-table-column prop="count" label="참여 직원 수" class-name="data-table-cell "
                                                 label-class-name="data-table-header" :min-width="100">
                                </el-table-column>
                                <el-table-column label="정보수정" class-name="data-table-cell "
                                                 label-class-name="data-table-header " :min-width="140">
                                    <template slot-scope="scope">
                                        <el-link @click="prjCompUnrealDelete(scope.row.cid)" data-toggle="modal">[가삭제]</el-link>
                                        <el-link @click="prjCompRealDelete(scope.row.cid)" data-toggle="modal">[실삭제]</el-link>
                                    </template>
                                </el-table-column>
                            </el-table>
                            <el-pagination small layout="prev, pager, next" :total="pageData.prjInCompPData.listCount"
                                           :page-size="pageData.prjInCompPData.countPerPage" :current-page.sync="pageData.prjInCompPData.pageNo"
                                           @current-change="prjShowParticipationCompSearch">
                            </el-pagination>
                        </div>
                    </div>
                    <div>
                        <el-button @click="compList">프로젝트 참여</el-button>
                        <!--<el-link @click="prjShow(scope.row.pid)" data-toggle="modal" data-target="#prjShow">{{ scope.row.pname }}</el-link>-->
                    </div>
                    <div class="modal-footer">
                        <button @click="prjInCompPDataPageNoReset" type="button" class="exit" data-dismiss="modal" aria-label="Close">닫기</button> <!--@click="idAnditemClean"-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -------------------- 프로젝트 참가를 위한 회사 테이블 목록 -------------------- -->
    <div class="modal fade" id="compAddPrj" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal_div" role="document">
            <div class="modal-content">
                <div class="modal-common">
                    <div class="modal-header">
                        <h3>프로젝트 참가를 위한 회사 테이블</h3>
                    </div>
                    <div class="modal-body">
                        <div class="table-contents-wrap">
                            <el-table :data="pageData.compListData" style="width:100%">
                                <el-table-column label="회사명" class-name="data-table-cell "
                                                 label-class-name="data-table-header " :min-width="310">
                                    <template slot-scope="scope">
                                        <el-link @click="prjAddCompDeplicateCheck(scope.row.cid)" data-toggle="modal">{{ scope.row.cname }}</el-link>
                                    </template>
                                </el-table-column>
                                <el-table-column prop="cboss" label="대표자명" class-name="data-table-cell "
                                                 label-class-name="data-table-header" :min-width="190">
                                </el-table-column>
                                <el-table-column prop="ccall" label="대표전화" class-name="data-table-cell "
                                                 label-class-name="data-table-header" :min-width="210">
                                </el-table-column>
                                <el-table-column prop="cnumber" label="법인번호" class-name="data-table-cell"
                                                 label-class-name="data-table-header" :min-width="190">
                                </el-table-column>
                            </el-table>
                            <el-pagination small layout="prev, pager, next" :total="pageData.compPData.listCount"
                                           :page-size="pageData.compPData.countPerPage" :current-page.sync="pageData.compPData.pageNo"
                                           @current-change="compList">
                            </el-pagination>
                        </div>
                        <div>
                            <el-form ref="form" :model="pageData.compListConditionSearchData">
                                <el-form-item label="리스트 조건 검색">
                                    <el-row type="flex">
                                        <el-select v-model="pageData.compListConditionSearchData.condition" placeholder="조건을 선택하세요">
                                            <el-option v-for="item in pageData.compListCondition" :key="item.conditionValue" :label="item.conditionText" :value="item.conditionValue"></el-option>
                                        </el-select>
                                        <el-input v-model="pageData.compListConditionSearchData.item" style="width: 500px;" maxlength="20"></el-input>
                                        <el-button @click="compList">검색</el-button>
                                    </el-row>
                                </el-form-item>
                            </el-form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button @click="itemClean" type="button" class="exit" data-dismiss="modal" aria-label="Close">닫기</button> <!--@click="idAnditemClean"-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -------------------- 회사에서 프로젝트에 참가중인 직원 목록 -------------------- -->
    <div class="modal fade" id="compEmpShow" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal_div" role="document">
            <div class="modal-content">
                <div class="modal-common">
                    <div class="modal-header">
                        <h3>프로젝트 참가 중인 직원 목록</h3>
                    </div>
                    <div class="modal-body">
                        <div class="table-contents-wrap">
                            <el-table :data="pageData.compEmpData" style="width:100%">
                                <el-table-column prop="ename" label="이름" class-name="data-table-cell "
                                                 label-class-name="data-table-header" :min-width="100">
                                </el-table-column>
                                <el-table-column prop="eemail" label="이메일" class-name="data-table-cell "
                                                 label-class-name="data-table-header" :min-width="100">
                                </el-table-column>
                                <el-table-column prop="ephone" label="휴대폰" class-name="data-table-cell "
                                                 label-class-name="data-table-header" :min-width="100">
                                </el-table-column>
                                <el-table-column prop="eposition" label="소속" class-name="data-table-cell"
                                                 label-class-name="data-table-header" :min-width="100">
                                </el-table-column>
                                <el-table-column prop="eaffiliation" label="직급" class-name="data-table-cell"
                                                 label-class-name="data-table-header" :min-width="100">
                                </el-table-column>
                                <el-table-column label="정보수정" class-name="data-table-cell "
                                                 label-class-name="data-table-header " :min-width="140">
                                    <template slot-scope="scope">
                                        <el-link @click="prjEmpUnrealDelete(scope.row.eid)" data-toggle="modal">[가삭제]</el-link>
                                        <el-link @click="prjEmpRealDelete(scope.row.eid)" data-toggle="modal">[실삭제]</el-link>
                                    </template>
                                </el-table-column>
                            </el-table>
                            <el-pagination small layout="prev, pager, next" :total="pageData.empPData.listCount"
                                           :page-size="pageData.empPData.countPerPage" :current-page.sync="pageData.empPData.pageNo"
                                           @current-change="compEmpShowStep">
                            </el-pagination>
                        </div>
                    </div>
                    <div>
                        <el-button @click="partiEmpAdd">참여 직원 추가</el-button>
                    </div>
                    <div class="modal-footer">
                        <button @click="empPDataPageNoReset" type="button" class="exit" data-dismiss="modal" aria-label="Close">닫기</button> <!--@click="idAnditemClean"-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -------------------- 프로젝트 참가를 위한 회사 직원 목록 및 참가할 직원 체크 테이블 -------------------- -->
    <div class="modal fade" id="prjCompAddEmpCheck" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal_div" role="document">
            <div class="modal-content">
                <div class="modal-common">
                    <div class="modal-header">
                        <h3>프로젝트 참가를 위한 회사 직원 목록 및 참가할 직원 체크 테이블</h3>
                    </div>
                    <div class="modal-body">
                        <div class="table-contents-wrap">
                            <template style="height: 600px">
                                <el-table :data="pageData.prjAddEmpListData" style="width:100%;" @selection-change="prjAddEmpNumberAdd">
                                    <el-table-column type="selection" width="55"></el-table-column>
                                    <el-table-column prop="ename" label="이름" class-name="data-table-cell "
                                                     label-class-name="data-table-header" :min-width="100">
                                    </el-table-column>
                                    <el-table-column prop="eemail" label="이메일" class-name="data-table-cell "
                                                     label-class-name="data-table-header" :min-width="100">
                                    </el-table-column>
                                    <el-table-column prop="ephone" label="휴대폰" class-name="data-table-cell "
                                                     label-class-name="data-table-header" :min-width="100">
                                    </el-table-column>
                                    <el-table-column prop="eposition" label="소속" class-name="data-table-cell"
                                                     label-class-name="data-table-header" :min-width="100">
                                    </el-table-column>
                                    <el-table-column prop="eaffiliation" label="직급" class-name="data-table-cell"
                                                     label-class-name="data-table-header" :min-width="100">
                                    </el-table-column>
                                </el-table>
                            </template>
                        </div>
                    </div>
                    <div>
                        <el-button @click="prjAddCompEmpLastStep">등록</el-button>
                        <!--<el-link @click="prjShow(scope.row.pid)" data-toggle="modal" data-target="#prjShow">{{ scope.row.pname }}</el-link>-->
                    </div>
                    <div class="modal-footer">
                        <button @click="itemClean" type="button" class="exit" data-dismiss="modal" aria-label="Close">닫기</button> <!--@click="idAnditemClean"-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -------------------- 프로젝트 정보 수정 -------------------- -->
    <div class="modal fade" id="updatePrj" role="dialog" aria-hidden="true" style="width:420px;margin:auto;">
        <div class="modal-dialog modal_div" role="document">
            <div class="modal-content">
                <div class="modal-common">
                    <div class="modal-header">
                        <h3>프로젝트 정보 수정</h3>
                    </div>
                    <div class="modal-body">
                        <div class="table-contents-wrap">
                            <div>
                                <el-form ref="form" :model="pageData.updateListData">
                                    <el-form-item label="프로젝트명">
                                        <el-input v-model="pageData.updateListData.pname" maxlength="15"></el-input>
                                    </el-form-item>
                                    <el-form-item label="프로젝트내용">
                                        <el-input type="textarea" v-model="pageData.updateListData.pcontent" maxlength="200"></el-input>
                                    </el-form-item>
                                    </el-form-item>
                                </el-form>
                            </div>
                            <div>
                                <el-button @click="updatePrjTry" style="margin-left: 20px;">저장</el-button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="exit" data-dismiss="modal" aria-label="Close">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="scriptBeforeCreateVue">
    <script>
        let localData = {
            listData: {},
            updateListData: {},
            prjAddEmpListData: {},
            compListData: {},
            compEmpData: {},
            notPartiEmp: {},
            dataDeliveryArea: {
                eid: []
            },
            multipleSelection: [],
            prjParticipationComp: {},
            pData: {
                pageNo: 1,
                countPerPage: 5
            },
            prjInCompPData: {
                pageNo: 1,
                countPerPage: 5
            },
            compPData: {
                pageNo: 1,
                countPerPage: 5
            },
            empPData: {
                pageNo: 1,
                countPerPage: 5
            },
            searchCompid: {
                searchCompid: '',
                pagingOff: 'off'
            },
            listCondition: [
                {conditionText: "프로젝트명", conditionValue: "pname"}
            ],
            listConditionSearchData: {
                item: ''
            },
            compListCondition: [
                {conditionText: "회사명+대표명", conditionValue: "cname+cboss"},
                {conditionText: "대표전화", conditionValue: "ccall"},
                {conditionText: "법인번호", conditionValue: "cnumber"}
            ],
            compListConditionSearchData: {
                item: ''
            },
            prjShowData: []
        }

        let localMethod = {
            moveCreate: function () {
                location.href = "/view/Project/PrjCreate";
            },
            itemClean: function () { // 회사 조건 검색 item
                this.pageData.compListConditionSearchData.item = '';
            },
            prjInCompPDataPageNoReset: function () {
                this.pageData.prjInCompPData.pageNo = 1;
            },
            empPDataPageNoReset: function () {
                this.pageData.empPData.pageNo = 1;
            },
            list: function () { // 등록된 프로젝트 목록
                if (this.pageData.listConditionSearchData.item == '') {
                    // 전체 리스트 조회
                    let pageNo = this.pageData.pData.pageNo - 1;
                    axiosGet("/api/project/prjController/" + pageNo, null,
                        function (response) {
                            vueApp.pageData.listData = [];
                            vueApp.pageData.listData = response.data.list;
                            vueApp.pageData.pData.listCount = response.data.listCount / 2;
                        },
                        function (error) {
                            console.log(error.response);
                            alert("에러메시지 : " + error.response.data.errorMessages[0])
                        }
                    )
                } else {
                    // 조건 리스트 조회
                    this.pageData.listConditionSearchData.pageNo = this.pageData.pData.pageNo - 1;
                    axiosPost("/api/project/prjController/listConditionSearch", vueApp.pageData.listConditionSearchData,
                        function (response) {
                            vueApp.pageData.listData = [];
                            vueApp.pageData.listData = response.data.list;
                            vueApp.pageData.pData.listCount = response.data.listCount / 2;
                            vueApp.pageData.pData.pageNo = 1;
                            console.log("listConditionSearch실행완료")
                        },
                        function (error) {
                            if (error.response.data.errorMessages[0] == null) {
                                console.log(error.response);
                                alert("조건을 선택하세요.")
                            } else {
                                console.log(error.response);
                                alert("에러메시지 : " + error.response.data.errorMessages[0])
                            }
                        }
                    )
                }
            },
            prjShow: function(pid) { // 프로젝트 명, 프로젝트 내용 불러오기
                this.pageData.dataDeliveryArea.pid = pid;
                if(this.pageData.dataDeliveryArea.eid == "") {
                    this.pageData.dataDeliveryArea.eid = [];
                }
                // 새로운 회사 프로젝트 참여 생성 AND 회사 등록 후 참여 회사 테이블을 새로고침하기 위해 필요한 데이터를 저장
                axiosPost("/api/project/prjController/" + pid, null,
                    function (response) {
                        vueApp.pageData.prjShowData = response.data.list[0];
                        vueApp.prjShowParticipationCompSearch()
                    },
                    function (error) {
                        console.log(error.response);
                        alert("에러메시지 : " + error.response.data.errorMessages[0])
                    }
                )
            },
            prjShowParticipationCompSearch: function() { // prjShow 완료 후, 클릭한 프로젝트에 참여하고있는 회사 정보 불러오기
                this.pageData.dataDeliveryArea.pageNo = this.pageData.prjInCompPData.pageNo - 1;
                if(this.pageData.dataDeliveryArea.eid == "") {
                    this.pageData.dataDeliveryArea.eid = [];
                }
                axiosPost("/api/project/prjController/participationCompSearch", vueApp.pageData.dataDeliveryArea,
                    function (response) {
                        vueApp.pageData.prjParticipationComp = response.data.list;
                        vueApp.pageData.prjInCompPData.listCount = response.data.listCount / 4;
                        let i = 0;
                        while(i < vueApp.pageData.prjParticipationComp.length) {
                            vueApp.pageData.prjParticipationComp[i].count = vueApp.pageData.prjParticipationComp[i].count;
                            i++;
                        }
                        $('#prjShow').modal('show')
                    },
                    function (error) {
                        console.log(error.response);
                        alert("에러메시지 : " + error.response.data.errorMessages[0])
                    }
                )
            },
            compList: function () { // 프로젝트 상세에서 프로젝트 참여 버튼 클릭 시 나오는 회사 목록
                if (this.pageData.compListConditionSearchData.item == '') {
                    // 전체 리스트 조회
                    let pageNo = this.pageData.compPData.pageNo - 1;
                    axiosGet("/api/company/compController/" + pageNo, null,
                        function (response) {
                            vueApp.pageData.compListData = [];
                            vueApp.pageData.compListData = response.data.list;
                            vueApp.pageData.compPData.listCount = response.data.listCount / 2;
                            $('#compAddPrj').modal('show')
                        },
                        function (error) {
                            if (error.response.data.errorMessages[0] == "Index 0 out of bounds for length 0") {
                                console.log(error.response);
                                alert("모든 회사가 참여중이거나, 참가할 수 있는 회사가 없습니다.")
                            } else {
                                console.log(error.response);
                                alert("에러메시지 : " + error.response.data.errorMessages[0])
                            }
                        }
                    )
                } else {
                    // 조건 리스트 조회
                    this.pageData.compListConditionSearchData.pageNo = this.pageData.compPData.pageNo - 1;
                    axiosPost("/api/company/compController/listConditionSearch", vueApp.pageData.compListConditionSearchData,
                        function (response) {
                            vueApp.pageData.compListData = [];
                            vueApp.pageData.compListData = response.data.list;
                            vueApp.pageData.compPData.listCount = response.data.listCount / 2;
                            vueApp.pageData.compPData.pageNo = 1;
                            $('#compAddPrj').modal('show')
                        },
                        function (error) {
                            console.log(error.response);
                            alert("에러메시지 : " + error.response.data.errorMessages[0])
                        }
                    )
                }
            },
            prjAddCompDeplicateCheck: function (cid) { // 프로젝트 참가 진행 중 회사 이름 클릭 시 중복 체크
                this.pageData.dataDeliveryArea.cid = cid;
                this.pageData.dataDeliveryArea.duplicateCheck = "중복체크확인";
                if(this.pageData.dataDeliveryArea.eid == "") {
                    this.pageData.dataDeliveryArea.eid = [];
                }
                if (confirm("해당 회사를 프로젝트에 참여시킵니다") == true){
                    axiosPost("/api/project/prjController/prjAddCompDeplicateCheck", vueApp.pageData.dataDeliveryArea,
                        function (response) {
                            if (response.data === "이미 참여한 회사입니다") {
                                alert("이미 참여한 회사입니다");
                            } else {
                                vueApp.prjAddCompEmpListSelect();
                            }
                        },
                        function (error) {
                            console.log(error.response);
                            alert("에러메시지 : " + error.response.data.errorMessages[0])
                        }
                    )
                } else {
                    return false;
                }
            },
            prjAddCompEmpListSelect: function() { // 회사 참여 중복 체크 이후 회사 등록과 동시에 프로젝트에 참여할 직원을 선택하기 위해 직원 목록 표시
                this.pageData.searchCompid.searchCompid = this.pageData.dataDeliveryArea.cid;
                this.pageData.prjAddEmpListData = [];
                this.pageData.searchCompid.participationEmpRemove = "false";
                if(this.pageData.dataDeliveryArea.eid == "") {
                    this.pageData.dataDeliveryArea.eid = [];
                }
                axiosPost("/api/employee/empController", vueApp.pageData.searchCompid,
                function (response) {
                    vueApp.pageData.prjAddEmpListData = response.data.list;
                    console.log(response.data)
                    $('#prjCompAddEmpCheck').modal('show')
                },
                function (error) {
                    if (error.response.data.errorMessages[0] == "Index 0 out of bounds for length 0") {
                        console.log(error.response);
                        alert("해당 회사에 등록된 직원이 없습니다. 직원 등록 후 다시 시도해주세요")
                    } else {
                        console.log(error.response);
                        alert("에러메시지 : " + error.response.data.errorMessages[0])
                    }
                }
                )
            },
            prjAddEmpNumberAdd: function(val) { // 체크된 직원의 목록
                this.pageData.multipleSelection = val;
            },
            prjAddCompEmpLastStep: function () { // 프로젝트 참가에서 선택된 회사와 체크된 직원들을 DB에 등록하는 마지막 과정
                let count = 0;
                if(this.pageData.dataDeliveryArea.eid == "") {
                    this.pageData.dataDeliveryArea.eid = [];
                }
                while(count < this.pageData.multipleSelection.length) {
                    this.pageData.dataDeliveryArea.eid[count] = this.pageData.multipleSelection[count].eid;
                    count++;
                }
                this.pageData.dataDeliveryArea.cview = true;
                this.pageData.dataDeliveryArea.eview = true;
                axiosPost("/api/project/prjController/prjAddCompEmpLastStep", vueApp.pageData.dataDeliveryArea,
                    function () {
                        if(vueApp.pageData.dataDeliveryArea.eid.length == 0) {
                            alert("참여할 직원을 선택해주세요")
                            return false;
                        } else {
                            if(vueApp.pageData.dataDeliveryArea.switch == "true") {
                                // switch : 직원 등록 절차 중 마지막 DB 저장 진행 시, 회사+직원 초기 등록과 직원 추가 등록을 구분하는 item
                                alert("참여가 완료되었습니다");
                                $('#prjCompAddEmpCheck').modal('hide')
                                vueApp.prjShow(vueApp.pageData.dataDeliveryArea.pid); // 직원 수(count)갱신을 위해 새로고침
                                $('#prjShow').modal('show')
                                vueApp.compEmpShow(vueApp.pageData.dataDeliveryArea.cid); // 추가된 직원 표시를 위해 새로고침
                                $('#compEmpShow').modal('show')
                                vueApp.pageData.dataDeliveryArea.switch == "";
                            } else {
                                alert("참여가 완료되었습니다");
                                $('#prjCompAddEmpCheck').modal('hide')
                                $('#compAddPrj').modal('hide')
                                vueApp.prjShow(vueApp.pageData.dataDeliveryArea.pid);
                                $('#prjShow').modal('show')
                            }
                        }
                    },
                    function (error) {
                        console.log(error.response);
                        alert("에러메시지 : " + error.response.data.errorMessages[0])
                    }
                )
            },
            compEmpShow: function(cid) { // 프로젝트 상세에서 클릭한 회사의 프로젝트 참여 직원 목록
                this.pageData.dataDeliveryArea.cid = cid;
                this.pageData.dataDeliveryArea.pageNo = this.pageData.empPData.pageNo -1;
                if(this.pageData.dataDeliveryArea.eid == "") {
                    this.pageData.dataDeliveryArea.eid = [];
                }
                axiosPost("/api/project/prjController/compParticiEmpSearch", vueApp.pageData.dataDeliveryArea,
                    function (response) {
                        vueApp.pageData.compEmpData = response.data.list;
                        vueApp.pageData.empPData.listCount = response.data.listCount / 2;
                    },
                    function (error) {
                        console.log(error.response);
                        alert("에러메시지 : " + error.response.data.errorMessages[0])
                    }
                )
            },
            compEmpShowStep: function () {
                this.compEmpShow(this.pageData.dataDeliveryArea.cid);
            },
            partiEmpAdd: function () { // 프로젝트 참가중인 회사에서 새로운 직원을 프로젝트에 참가시키기 위해 현재 프로젝트에 참가중이지 않은 직원 목록을 표시
                this.pageData.prjAddEmpListData = [];
                this.pageData.dataDeliveryArea.pagingOff = "off";
                this.pageData.dataDeliveryArea.participationEmpRemove = "true";
                this.pageData.dataDeliveryArea.switch = "true"; // 직원 등록 절차 중 마지막 DB 저장 진행 시, 회사+직원 초기 등록과 직원 추가 등록을 구분하는 item, 해당 메소드가 아닌 이후 메소드에서 활용됨
                this.pageData.dataDeliveryArea.eid = "";
                console.log(vueApp.pageData.dataDeliveryArea)
                axiosPost("/api/employee/empController", vueApp.pageData.dataDeliveryArea,
                    function (response) {
                        vueApp.pageData.dataDeliveryArea.pagingOff = "";
                        vueApp.pageData.dataDeliveryArea.participationEmpRemove = "";
                        vueApp.pageData.prjAddEmpListData = response.data.list;
                        $('#prjCompAddEmpCheck').modal('show') // 직원테이블(화면)새로고침
                    },
                    function (error) {
                        if (error.response.data.errorMessages[0] == "Index 0 out of bounds for length 0") {
                            console.log(error.response);
                            alert("모든 직원이 참가중이거나, 참가 가능한 직원이 없습니다.")
                        } else {
                            console.log(error.response);
                            alert("에러메시지 : " + error.response.data.errorMessages[0])
                        }
                    }
                )
            },
            updatePrjStep: function (pid) {
                axiosGet("/api/project/prjController/update/" + pid, null,
                    function (response) {
                        vueApp.pageData.updateListData = response.data.list[0];
                        vueApp.pageData.updateListData.pid = pid;

                    }
                )
            },
            updatePrjTry: function () {
                axiosPut("/api/project/prjController", vueApp.pageData.updateListData,
                    function () {
                        alert("프로젝트 수정이 완료되었습니다")
                        $('#updatePrj').modal('hide')
                        vueApp.list();
                    }
                )
            },
            prjUnrealDelete: function (pid) {
                if (confirm("가삭제를 진행하시겠습니까?") == true){
                    axiosPut("/api/project/prjController/" + pid, null,
                        function () {
                            alert("가삭제가 완료되었습니다");
                            vueApp.list();
                        },
                        function (error) {
                            console.log(error.response);
                            alert("에러메시지 : " + error.response.data.errorMessages[0])
                        }
                    )
                } else {
                    return false;
                }

            },
            prjRealDelete: function (pid) {
                if (confirm("실삭제를 진행하시겠습니까?") == true) {
                    axiosDelete("/api/project/prjController/" + pid, null,
                        function () {
                            alert("실삭제가 완료되었습니다");
                            vueApp.list();
                        },
                        function (error) {
                            console.log(error.response);
                            alert("에러메시지 : " + error.response.data.errorMessages[0])
                        }
                    )
                } else {
                    return false;
                }
            },
            prjCompUnrealDelete: function (cid) {
                this.pageData.dataDeliveryArea.cid = cid;
                if(this.pageData.dataDeliveryArea.eid == "") {
                    this.pageData.dataDeliveryArea.eid = [];
                }
                if (confirm("가삭제를 진행하시겠습니까?") == true){
                    axiosPut("/api/project/prjController/prjCompUnrealDelete", vueApp.pageData.dataDeliveryArea,
                        function () {
                            alert("가삭제가 완료되었습니다");
                            vueApp.prjShow(vueApp.pageData.dataDeliveryArea.pid);
                        },
                        function (error) {
                            console.log(error.response);
                            alert("에러메시지 : " + error.response.data.errorMessages[0])
                        }
                    )
                } else {
                    return false;
                }

            },
            prjCompRealDelete: function (cid) {
                this.pageData.dataDeliveryArea.cid = cid;
                if (confirm("실삭제를 진행하시겠습니까?") == true) {
                    if(this.pageData.dataDeliveryArea.eid == "") {
                        this.pageData.dataDeliveryArea.eid = [];
                    }
                    axiosPost("/api/project/prjController/prjCompRealDelete", vueApp.pageData.dataDeliveryArea,
                        function () {
                            alert("실삭제가 완료되었습니다");
                            vueApp.prjShow(vueApp.pageData.dataDeliveryArea.pid);
                        },
                        function (error) {
                            console.log(error.response);
                            alert("에러메시지 : " + error.response.data.errorMessages[0])
                        }
                    )
                } else {
                    return false;
                }
            },
            prjEmpUnrealDelete: function (eid) {
                this.pageData.dataDeliveryArea.eid = eid;
                if (confirm("가삭제를 진행하시겠습니까?") == true){
                    axiosPut("/api/project/prjController/prjEmpUnrealDelete", vueApp.pageData.dataDeliveryArea,
                        function () {
                            alert("가삭제가 완료되었습니다");
                            vueApp.pageData.dataDeliveryArea.eid = [];
                            vueApp.prjShow(vueApp.pageData.dataDeliveryArea.pid);
                            $('#prjShow').modal("show")
                            vueApp.compEmpShow(vueApp.pageData.dataDeliveryArea.cid);
                            $('#compEmpShow').modal("show")
                        },
                        function (error) {
                            console.log(error.response);
                            alert("에러메시지 : " + error.response.data.errorMessages[0])
                        }
                    )
                } else {
                    return false;
                }

            },
            prjEmpRealDelete: function (eid) {
                this.pageData.dataDeliveryArea.eid = eid;
                if (confirm("실삭제를 진행하시겠습니까?") == true) {
                    axiosPost("/api/project/prjController/prjEmpRealDelete", vueApp.pageData.dataDeliveryArea,
                        function () {
                            alert("실삭제가 완료되었습니다");
                            vueApp.pageData.dataDeliveryArea.eid = [];
                            vueApp.prjShow(vueApp.pageData.dataDeliveryArea.pid);
                            $('#prjShow').modal("show")
                            vueApp.compEmpShow(vueApp.pageData.dataDeliveryArea.cid);
                            $('#compEmpShow').modal("show")
                        },
                        function (error) {
                            console.log(error.response);
                            alert("에러메시지 : " + error.response.data.errorMessages[0])
                        }
                    )
                } else {
                    return false;
                }
            }
        }

        function vueMounted() {
            this.list();
        }
    </script>
</th:block>

<th:block layout:fragment="scriptAfterCreateVue"></th:block>
</html>
