<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="asideLeftFragment">
    <el-row>
        <el-col>
            <div id="menu" class="main-menu" mode="horizontal" unique-opened>  <!--:default-active="activeTopMenuIndex"-->
                <div class="card">
                    <div class="card-header" id="home">
                        <a href="/view/Home/Index">Home</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <button index="1" data-toggle="collapse" data-target="#collapseOne" aria-controls="collapseOne" aria-expanded="false">
                            <span>Company</span>
                        </button>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#menu">
                        <div class="card-body">
                            <el-menu class="left-menu" :collapse="isLeftMenuCollapse"><!-- :default-active="activeLeftMenuIndex"-->
                                <el-menu-item index="1" @click="handleMenuItemClick('/view/Company/CompTable')">
                                    <span slot="title">
                                        <a href="/view/Company/CompTable">회사목록</a>
                                    </span>
                                </el-menu-item>
                                <el-menu-item index="2" @click="handleMenuItemClick('/view/Company/CompCreate')">
                                    <span slot="title">
                                        <a href="/view/Company/CompCreate">회사등록</a>
                                    </span>
                                </el-menu-item>
                            </el-menu>
                        </div>
                    </div>

                    <div class="card-header" id="headingTwo">
                        <button index="2" data-toggle="collapse" data-target="#collapseTwo" aria-controls="collapseTwo" aria-expanded="false">
                            <span>Project</span>
                        </button>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#menu">
                        <div class="card-body">
                            <el-menu class="left-menu" :collapse="isLeftMenuCollapse">
                                <el-menu-item index="1" @click="handleMenuItemClick('/view/Project/PrjTable')">
                                    <span slot="title">
                                        <a href="/view/Project/PrjTable">프로젝트목록</a>
                                    </span>
                                </el-menu-item>
                                <el-menu-item index="2" @click="handleMenuItemClick('/view/Project/PrjCreate')">
                                    <span slot="title">
                                        <a href="/view/Project/PrjCreate">프로젝트등록</a>
                                    </span>
                                </el-menu-item>
                            </el-menu>
                        </div>
                    </div>
                </div>
            </div>
        </el-col>
    </el-row>
</div>
</html>