<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="configFragment">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>회사별 직원관리 구축</title>
    <link rel="stylesheet" th:href="@{/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/element-ui-theme-chalk-index.css}">
    <script type="text/javascript" th:src="@{/javascript/polyfill.min.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/vue.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/axios.min.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/element-ui-index.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/element-ui-locale-ko.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/javascript/vue-number-input.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/jquery-3.2.1.slim.min.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}">
    <script type="text/javascript" th:src="@{/javascript/bootstrap-select.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap2-toggle.min.css}">
    <script type="text/javascript" th:src="@{/javascript/bootstrap2-toggle.min.js}"></script>

    <style></style>
    <th:block layout:fragment="css"></th:block>

    <script>
        function commonNotifyError(error) {
            let errorMessage = "";
            if (error.response) {
                if (error.response.data.errorMessage) {
                    errorMessage += "<br />" + error.response.data.errorMessage;
                }
                if (error.response.data.errorMessages) {
                    for (let i = 0; i < error.response.data.errorMessages.length; i++) {
                        errorMessage += "<br />" + error.response.data.errorMessages[i];
                    }
                }
                console.log(errorMessage);
                if (errorMessage.length > 0) {
                    errorMessage = errorMessage.substring(6);
                }
            } else if (error.request) {
                console.log("Error Request: ", error.request);
            } else {
                console.log("Error Message: ", error.message);
            }
            let errorModal = document.getElementById("errorModal");
            errorModal.classList.add('active');
            let title = document.getElementById("modalTitle");
            title.innerHTML = "에러 발생";
            let text = document.getElementById("modalText");
            text.innerHTML = errorMessage;
        }
        function commonNotifyMessage(titleParam, messageParam) {
            let errorModal = document.getElementById("errorModal");
            errorModal.classList.add('active');
            let title = document.getElementById("modalTitle");
            title.innerHTML = titleParam;
            let text = document.getElementById("modalText");
            text.innerHTML = messageParam;

        }
        function commonNotifyErrorWithArgs(titleParam, messageParam) {
            let errorModal = document.getElementById("errorModal");
            errorModal.classList.add('active');
            let title = document.getElementById("modalTitle");
            title.innerHTML = titleParam;
            let text = document.getElementById("modalText");
            text.innerHTML = messageParam;
        }
        function closePopup() {
            let errorPopup = document.getElementById("errorModal");
            errorPopup.classList.remove('active');
        }
    </script>
</head>
</html>