<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/defaultLayout"> <!--defaultLayout의 설정/화면을 받음-->
<th:block layout:fragment="css"><style></style></th:block>
<div layout:fragment="content"> <!--defaultLayout의 content 부분에 해당하게됨-->
    <!--홈화면-->
    <h1>jCPM HOME</h1>
    <h6>Jeju Company Management</h6>
</div>
<th:block layout:fragment="scriptBeforeCreateVue"></th:block>
<script></script>
<th:block layout:fragment="scriptAfterCreateVue"></th:block>
</html>


