<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/defaultLayout">
<div layout:fragment="content">
    <template>
        <div>
            <h1>회사 신규 등록</h1>
            <el-form ref="form" :model="pageData.createComp">
                <el-form-item label="회사명">
                    <el-input v-model="pageData.createComp.cname" maxlength="15" onkeyup="checkSpacebar(this)"></el-input>
                </el-form-item>
                <el-form-item label="대표자명">
                    <el-input v-model="pageData.createComp.cboss" maxlength="10" onkeyup="checkSpacebar(this)"></el-input>
                </el-form-item>
                <el-form-item label="대표전화">
                    <el-input v-model="pageData.createComp.ccall" maxlength="10" onkeyup="checkSpacebar(this)"></el-input>
                </el-form-item>
                <el-form-item label="법인번호">
                    <el-input v-model="pageData.createComp.cnumber" maxlength="20" onkeyup="checkSpacebar(this)"></el-input>
                </el-form-item>
            </el-form>
        </div>
        <div>
            <el-button @click="create">저장</el-button>
            <el-button @click="moveTable">회사목록</el-button>
        </div>
    </template>
</div>
<th:block layout:fragment="scriptBeforeCreateVue">
    <script>
        function checkSpacebar(obj) {
            if(obj.value == " ") {
                alert("첫 시작을 공백으로 할 수 없습니다. 공백을 제거합니다.");
                obj.focus();
                obj.value = obj.value.replace(' ','');
                return false;
            }
        }

        let localData = {
            createComp: {
                cname: "",
                cboss: "",
                ccall: "",
                cnumber: "",
                cview: true,
            }
        };

        let localMethod = {
            create: function() {
                if(this.pageData.createComp.cname === "" || this.pageData.createComp.cname === " " ||
                    this.pageData.createComp.cboss === "" || this.pageData.createComp.cboss === " " ||
                    this.pageData.createComp.ccall === "" || this.pageData.createComp.ccall === " " ||
                    this.pageData.createComp.cnumber === "" || this.pageData.createComp.cnumber === " ") {
                    alert("입력되지 않은 항목이 있습니다. 모든 정보를 입력해주세요.")
                    return false;
                }
                axiosPost("/api/company/compController", vueApp.pageData.createComp,
                    function () {
                        alert("회사 등록 성공");
                        location.href = "/view/Company/CompCreate";
                    },
                    function (error) {
                        if(error.response.data.errorMessages[0] == null) {
                            console.log(error.response);
                            alert("입력되지 않은 항목이 있습니다. 모든 정보를 입력해주세요")
                        } else {
                            console.log(error.response);
                            alert("에러메시지 : " + error.response.data.errorMessages[0])
                        }
                    }
                );
            },
            moveTable: function() {
                location.href = "/view/Company/CompTable";
            }
        }
    </script>
</th:block>

<th:block layout:fragment="scriptAfterCreateVue"></th:block>
</html>